.Container {
    display: flex;
    align-items: flex-start;
}

.Author {
    margin: 40px 50px;
    width: 370px;
    box-shadow: 8px 8px 2px 1px rgba(141, 139, 139, 0.205);
}

.Info {
    width: 370px;
    border: 1px solid gray;
}

.Info p {
    margin: 0.5rem;
    line-height: 1.2rem;
}

.Name {
    font-size: 20px;
    font-weight: bold;
}

.Image {
    height: 450px;
    width: 370px;
    border: 1px solid gray;
}

.Books {
    width: 70%;
    padding: 1.5rem;
}

.Books > h4 {
    margin: 1rem;
    padding: 1rem;
    width: auto;
    border: 1px solid gray;
    box-shadow: 8px 8px 2px 1px rgba(141, 139, 139, 0.205);
}

@media (max-width: 1200px) {
    .Container {
        display: flex;
        flex-direction: column;
    }

    .Author,
    .Books {
        margin: 40px auto;
    }
}
